<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <!-- Replace the value of the following key with your Okta tenant full url, such as https://companyname.okta.com or https://dev-XXXX.oktapreview.com 
    The iss claim value of the ID Token is indeed the url of your Okta organization. Make sure this value is correct because it's also used to dynamically download the org metadata from the ~oktaOrgUrl/.well-know/openid-configuration endpoint -->
    
    <add key="okta:OIDC_Issuer" value="https://tenantname.oktapreview.com" />

    <!-- Replace the value of the following key with the value displayed in the Access Token section of the Authorization Server tab of your OpenID Connect/OAuth client (in Okta).  -->

    <add key="okta:OAuth_Issuer" value="https://tenantname.oktapreview.com/as/[id]" />
    
    <!-- Set the value of the following key with the id value of your Okta OpenID Connect client (read Readme.md for more information) -->
    <add key="okta:ClientId" value="" />

    <add key="okta:RequiredGroupMemberships" value="Finance, Marketing, Engineering"/>
    
    <!-- The IDorAccessToken parameter indicates whether you will use the ID token or the Access Token as a way to validate the user. This is important because the 
    the issuer value is different. Possible values for this parameter are "id" or "access" -->
    <add key="okta:IDorAccessToken" value="id"/>
  </appSettings>
  </appSettings>
</configuration>