<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Insert">
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true"  />
    <add key="owin:AutomaticAppStartup" value="false"/>

    <!-- Replace the value of the following key with your Okta tenant full url, such as https://companyname.okta.com or https://dev-XXXX.oktapreview.com -->
    <add key="okta:TenantUrl" value="https://tenantname.oktapreview.com" />
 
    <!-- Set the value of the following key with the id value of your OAuth Okta client (cf. Readme.md for more information) -->
    <add key="okta:ClientId" value="" />

    <!-- CURRENTLY UNUSED. The CallApiWithAT parameter indicates if you will use the Access Token to call the WebApi (if false, this web app with use the ID Token).  -->
    <add key="okta:CallApiWithAT" value="false"/>
    
    <!-- Replace the value of the following key with the url of your ASP.NET Web API (the current value is the default value of the WebApi project) -->
    <add key="WebApiUrl" value="https://localhost:44310" />


  </appSettings>
</configuration>
