@*
    * Copyright (c) 2016, Okta, Inc. and/or its affiliates. All rights reserved.
    * The Okta software accompanied by this notice is provided pursuant to the Apache License, Version 2.0 (the "License.")
    *
    * You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0.
    * Unless required by applicable law or agreed to in writing, software
    * distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
    * WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    *
    * See the License for the specific language governing permissions and limitations under the License.
*@


    <section id="slider_wrapper" class="slider_wrapper full_page_photo">
        <div id="main_flexslider" class="flexslider">
            <ul class="slides">
                <li class="item" style="background-image: url(/images/SFbayBridge.jpg)">
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>
                                a <strong>powerful</strong> identity platform<br>
                                you can <strong>trust</strong> &amp; <strong>build upon</strong>!
                            </h1>
                            <p class="lead skincolored">Click on <strong>Sign in</strong> in the top-right corner above to access the Okta Sign In Demo Page!</p>
                            @*<p class="lead skincolored">Al<strong>kane</strong> is Okta's theme for <strong>developer demos</strong> and <strong>code samples</strong>, serving as a foundation for your creative Okta-based projects.</p>*@
                        <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>APIs</strong></span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
<div class="main">
    <section class="call_to_action">
        <div class="container">
            <h3>focus on what’s important</h3>
            <h4>and don't reinvent the wheel</h4>
            <a class="btn btn-primary btn-lg" href="https://www.okta.com/developer/signup/">Use Okta!</a>
        </div>
    </section>
    <section class="features_teasers_wrapper">
        <div class="container">
            <div class="row">
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="images/responsive.png">
                    <h3>Clean, Responsive Design</h3>
                    <p>A multipurpose but mainly<strong> business oriented</strong> design, built to serve as a foundation for your web projects. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
                </div>
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="images/git.png">
                    <h3>Based on Twitter Bootstrap</h3>
                    <p>The front-end development framework with a <strong>steep learning curve</strong>. It changes the way you develop sites. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
                </div>
                <div class="feature_teaser col-sm-4 col-md-4">
                    <img alt="responsive" src="images/less.png">
                    <h3>Makes real use of {LESS}</h3>
                    <p><strong>Restart</strong> comes with a style.less file that tries to use all the power of <strong>{less} and bootstrap combined</strong>. Suspendisse nec risus fermentum sapien congue fermentum sed at lorem.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio_teasers_wrapper">
        <div class="container">
            <h2 class="section_header fancy centered">Recent Work or Projects from Portfolio<small>we take pride in our work</small></h2>
            <div class="portfolio_strict row">
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(/images/portfolio/p4.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                    <div class="view_button">View</div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href="portfolio_item.html">The {re}start Project</a></h3>
                            <p>Design</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(/images/portfolio/a5.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                    <div class="view_button">View</div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href="portfolio_item.html">Colorful iOS Apps</a></h3>
                            <p>Development</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="portfolio_item wow animated flipInX">
                        <a href="portfolio_item.html" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                            <figure style="background-image:url(/images/portfolio/p1.jpg)">
                                <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                    <path d="M 180,0 0,0 0,0 180,0 z" />
                                </svg>
                                <figcaption>
                                    <p>Description of the project dapibus, tellus ac cursus commodo, mauesris condime ntum nibh, ut fermentum....</p>
                                    <div class="view_button">View</div>
                                </figcaption>
                            </figure>
                        </a>
                        <div class="portfolio_description">
                            <h3><a href="portfolio_item.html">POETIC Magazine</a></h3>
                            <p>Illustrations</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>